<nav class="navbar fixed-top navbar-expand-sm navbar-light bg-success">
    <div class="container">
        <a class="navbar-brand" *ngIf="isUserAuth" routerLink='/'>
            MyApp
        </a>
        <ul class="navbar-nav  mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" *ngIf="isUserAuth">
                    <img [src]='imagePath' width="30" height="30" alt="">
                </a>
            </li>
            <li class="nav-item">
                <a mat-button class="nav-link" *ngIf="!isUserAuth" routerLink='/login' routerLinkeActive="mat-accent">
                    login
                </a>
            </li>
            <li class="nav-item">
                <a mat-button *ngIf="!isUserAuth" class="nav-link" routerLink='/signUp' routerLinkeActive="mat-accent">
                    signUp
                </a>
            </li>
        </ul>
        <button *ngIf="isUserAuth" class="nav-link" (click)="onLogOut()" mat-button>
            logOut
        </button>
    </div>
</nav>