
<mat-accordion *ngIf="posts.length>0">
<mat-expansion-panel  *ngFor="let post of posts">
    <mat-expansion-panel-header>
     {{post.title}}
    </mat-expansion-panel-header>
    <div class="post-image">
        <img  [src]="post.imagePath" [alt]="post.title">
    </div>
    <p>{{post.content}}</p>
    <mat-action-row>
        <a mat-button *ngIf="isUserAuth && userId === post.creator" [routerLink]="['/edit',post.id]" color="accent"> Edit</a> 
        <button   mat-button *ngIf="isUserAuth && userId === post.creator" (click)="deletePost(post.id)" color="warn"> Delete</button> 
    </mat-action-row>
</mat-expansion-panel>

</mat-accordion>
<mat-paginator [length]="totalPosts" 
           [pageSize]="postsPerPage" 
           [pageSizeOptions]="pageSizeOptions"
           (page)="onChangePage($event)">
        </mat-paginator>