form{
    padding-top:50px; 
    position: relative;
    left: 100px;
}

mat-card{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

button,mat-form-field{
  width: 400px;
}