<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-offset-3 ">
<mat-card>
    <form  class="form-inline justify-content-center  " *ngIf="!isLoading" (submit)="onLogin(loginForm )" #loginForm="ngForm">
        <mat-form-field class="mr-2">
            <input type="email"  matInput
             name="email" 
              placeholder="email" ngModel>
        </mat-form-field>
        <mat-form-field>
          <input matInput  type="password"
            placeholder="password"  name="password" ngModel  >
       </mat-form-field>
       <div>
      <button 
        type="submit"
         mat-raised-button
         color="primary"> 
         login 
      </button>
      </div>
    </form>
</mat-card>
</div>
</div>
</div>

