mat-slider {
  width: 370px;
}
input[type="file"] {
  visibility: hidden;
}
.image-preview {
  height: 6rem;
  margin: 1rem 0;
}
.image-preview img {
  height: 100%;
  width: 30%;
}
li {
  margin-left: 1rem;
}

ul {
  text-align: center;
}
mat-card {
  width: 50%;
  margin: 0 auto;
}
.images {
  margin: 20px;
}
form {
  padding-top: 50px;
  position: relative;
  margin: 0rem 0rem 3rem 0rem;
  left: 50px;
}
img {
  border-radius: 50%;
}


.buttonSub {
  position: relative;
}
