<mat-card class="mt-3">
   <form (submit)="saveProfile()" [formGroup]="_form">
      <div class="image-preview" *ngIf="_imagePreview !=='' && _imagePreview ">
         <img [src]="_imagePreview" (click)="filePickerr.click()">
         <input type="file" #filePickerr name="imagePath" (change)="onImagePicked($event)">
      </div>
      <div>
         <mat-form-field style="padding-right: 10px">
            <input type="text" matInput name="firstName" formControlName="firstName" placeholder="first name">
         </mat-form-field>
         <mat-form-field>
            <input matInput type="text" placeholder="last name" formControlName="lastName" name="lastName">
         </mat-form-field>
      </div>
      <div>
         <div class="d-inline mr-5 mb-4" [ngStyle]="{'color' : _gender === 'Female' ? 'pink' : 'gray' }"
            (click)='setGender("Female")'>
            <i class="fas fa-female fa-3x "></i>
         </div>
         <div class="d-inline ml-5 mb-4" [ngStyle]="{'color' : _gender === 'Male' ? 'blue' : 'gray' }"
            (click)='setGender("Male")'>
            <i class="fas fa-male fa-3x"> </i>
         </div>
      </div>
      <div>
         <mat-form-field style="padding-right: 10px">
            <mat-label>age</mat-label>
            <select formControlName="age" matNativeControl name="age">
               <option *ngFor="let age of _agies " [value]="age">{{age}}
               </option>
            </select>
         </mat-form-field>
         <mat-form-field>
            <input matInput type="text" placeholder=" phone  number" formControlName="phoneNumber" name="phoneNumber">
         </mat-form-field>
      </div>
      <div>
         <mat-form-field style="padding-right: 10px">
            <mat-label>city</mat-label>
            <select matNativeControl name="city" formControlName="city">
               <option [value]="city" *ngFor="let city of _cities ">{{city}}
               </option>
            </select>
         </mat-form-field>
      </div>
      <h4>looking for contact with...</h4>
      <div>
         <mat-form-field style="padding-right: 10px">
            <mat-label>favorite</mat-label>
            <select matNativeControl name="favorite" formControlName="favorite">
               <option value="male">male</option>
               <option value="female">female</option>
            </select>
         </mat-form-field>
      </div>
      <div>
         <mat-form-field style="padding-right: 10px">
            <mat-label>maximum age</mat-label>
            <select matNativeControl name="maximum" formControlName="maximum">
               <option *ngFor="let age of _agies" [value]="age">{{age}}</option>
            </select>
         </mat-form-field>
         <mat-form-field>
            <mat-label> minimum age</mat-label>
            <select matNativeControl name="minimum" formControlName="minimum">
               <option [value]="age" *ngFor="let age of _agies">
                  {{age}}</option>
            </select>
         </mat-form-field>
      </div>
      <div>
         <p>range of residense:</p>
         <mat-slider name="range" thumbLabel [displayWith]="formatLabel" tickInterval="10" min="1" max="100"
            formControlName="range"></mat-slider>
      </div>
      <div>
         <mat-form-field>
            <textarea matInput rows="4" placeholder="summery" name="summery" formControlName="summery"></textarea>
         </mat-form-field>
      </div>
      <div class="buttonSub">
         <button type="submit" mat-raised-button color="primary">
            {{_typeButton}}
         </button>
      </div>
   </form>
</mat-card>
<app-profiles-display *ngIf='status'></app-profiles-display>