<mat-card class="mt-3">
    <mat-card-header>
        <mat-card-title *ngIf="profile">{{profile.firstName }} {{profile.lastName}}</mat-card-title>
        <mat-card-subtitle *ngIf="profile">{{profile.city}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf="profile" >
        <ul class="list-group list-group-flush">
            <li class="list-group-item  d-flex justify-content-between align-items-center">
                Phone Number
                <span *ngIf="profile" class="badge badge-success">
                    {{profile.phoneNumber}}
                </span>
            </li>
            <li class="list-group-item  d-flex justify-content-between align-items-center">
                Age
                <span *ngIf="profile" class="badge badge-success">
                    {{profile.age}}
                </span>
            </li>
            <li class="list-group-item  d-flex justify-content-between align-items-center">
                    gender
                    <span *ngIf="profile" class="badge badge-success">
                        {{profile.gender ? 'Male': 'Female' }}
                    </span>
                </li>
            <li class="list-group-item  d-flex justify-content-between align-items-center">
                Favorite
                <span *ngIf="profile" class="badge badge-success">
                    {{profile.favorite}}
                </span>
            </li>
            <li class="list-group-item  d-flex justify-content-between align-items-center">
                city
                <span *ngIf="profile && profile?.address " class="badge badge-success">
                    {{profile.address.city}}
                </span>
            </li>
            <li class="list-group-item  d-flex justify-content-between align-items-center">
                minimum
                <span *ngIf="profile.minimum" class="badge badge-success">
                    {{profile.minimum}}
                </span>
            </li>
            <li class="list-group-item  d-flex justify-content-between align-items-center">
                maximum
                <span *ngIf="profile.maximum" class="badge badge-success">
                    {{profile.maximum}}
                </span>
            </li>
        </ul>
    </mat-card-content>
    <div class="buttonSub">
        <button type="submit" routerLink='/profile/edit' mat-raised-button color="primary">
            {{typeButton}}
        </button>
    </div>
</mat-card>
